
@{
    ViewBag.Title = "Index";
}

    <div id="main">
        <div class="" style="text-align:center;padding-left:120px">
            <div class="col-sm-10" style='background-color: #2ba6cb'>
                <h1 style="color:white">Complete Payment</h1>
                <p>Payment Success! Thank you for your Payment. </p>
            </div>
        </div>

    </div>

