@{
    ViewBag.Title = "Organisations";
}
 <h2>To register your organisation, send us an email with the following:</h2>
    <textarea> 
        - Organisation Name
        - Addres
        - Copy of Bank Statement
        - Copy of NGO Certificate
   </textarea>

    <h2>Once your organisation has been verified, you will be sent an email to notify you. You can then send us an email campaign details. The following details must be present:</h2>
    <textarea>
       - Description
       - Launch Date
       - End Date
       - Goal Amount
</textarea>


    <h2>Feel free to add any more information that will help with your campaign.</h2>
    <div>
        Email: shalangt@gmail.com
        Cell no.: 064 372 8639
    </div>


